<!DOCTYPE html>
<html>
<head>
	<title>Food Review Information</title>
	<link rel="stylesheet" type="text/css" href="../../../style/style.css">
</head>
<body>
	<div class="headDiv">
		<h1 style="margin-left:50px;">
			
			<br/>KhadokZone - Food Review Information ! Food ID : <%= fid%> ! User ID : <%= uid%> ! User Name : <%= uname%>
		</h1>
		<a href="/logout" style="margin-left:900px;">Logout</a>
		<a href="/home" style="margin-left:10px;">| Home |</a>
		<a href="/" style="margin-left:10px;">| Back |</a>
	</div>
<br><br><br>
<center>	
	<div class="divBorder">
		<h1>
			Insert Review For This Item
		</h1>
			<form method="post"> 
				Write Review : <br/ >
				<input type="text" style="width:150px; height:150px;" name="rev" > <br><br>
				<input type="submit" name="regiBtn" value="Save" >
			</form>
	</div>
</center>
	<div class="divBorder" style="width:60%;">
		<h1>
			Reviews :
		</h1>
		<% for(var i=0; i < rev.length; i++){ %>
			<h3>
				<%= rev[i].Uname %>
			</h3>
			<%= rev[i].review %>
			<br><br>
		<% } %>
		
		
	</div>
</body>
</html>